html {
    overflow: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: #FAEBEE;
}

.jumbotron {
    border-radius: 0;
}