li #CA-Cruz {
  display:inline;
  /*vertical-align: top;
  margin-top: 0;
  width: 25%;
  width: 50%;
  margin-right: 10px;*/
}
li #D-Dhabolt {
  display:inline;
  /*vertical-align: top;
  margin-top: 0;
  width: 25%;
  width: 50%;
  margin-right:10px;*/
}




/*our team {
  display: inline-block;
  vertical-align: top;
}

  {
  width: 25%;
}

  {
  width: 50%;
}

 {
  margin-top: 0;
}

 {
  width: 25%;
}

 {
  margin-top: 0;
}
